<ion-view title="Map Overview" id="dashtitle" class="bar-dark">

  <ion-content ng-controller="MapController" ng-init="initialize()">
    <!--
    <div class="bar item-input-inset">
      <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="search" placeholder="Search">
      </label>
      <button class="button button-light">
        Search
      </button>
    </div>
    -->

    <input id="pac-input" class="controls" type="text" placeholder="Search Box">
    <div id="map" data-tap-disabled="true"></div>
  </ion-content>
</ion-view>
